<div class="row">
	<div class="small-7 columns">
		<h2>Welcome Chess Parents!</h2><br />
			<p> <%= image_tag 'TaylorAlllerdiceTourney.JPG', class: "left", width: "250" %> Alex&Mark Chess Camp ensures that your child earns the most important skill set to become a great chess player in the future! </p>
			<p>Join our chess camp and you might get private lessons from a half Klingon instructor and his diciples! Qa'pla!</p>
			<br>
	</div>
	<div class="small-4 columns">
		<%= render :partial => "upcoming_camps" %>
	</div>
	<br>
	<br>
</div>
