<br /><br /><h3><em>Alex&Mark Chess Camp </em></h3><br /><br />

<p>	
	Alex and Mark have decided that in the summer of 2014 they will establish a series of summer chess camps for children of various ages and skill levels.
</p>