<br /><br /><h3>Contact Alex&Mark Chess camp</h3><br /><br />

<p> Unfortunately, the Alex&Mark Chess camp is not a chess camp, but rather a 
  sample project for a programming class at Carnegie Mellon University. We 
  are sure that you wanted to be a part of one of the most exquisite 
  chess camp on the planet, but that's how it goes sometimes.  If you are 
  bitterly disappointed (and quite honestly, you should be) and want to 
  grouse to someone, here's the contact info:</p>

<table cellpadding="3">
  <tr>
    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
    <td>Kang Jun Park</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("kangjunp@andrew.cmu.edu") %> 
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>412-596-6364</td>
  </tr>
</table>