<% unless @students.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Students</h5>
    <ul class="side-nav">
      <% @students.each do |student| %>
        <li><%= link_to student.first_name, student_path(student) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>No Students</h5>
  </div>
<% end %>