<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "instructor_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <% unless @instructor.picture_url.nil? %>
    <p><%= image_tag @instructor.picture_url %></p>
  <% end %>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'instructor_camps' %>
  </div>
</div>